<template>
  <div>
    <div>
      
    </div>
  </div>
</template>
<script>
import moment from 'moment'

export default {
    name: 'DatePicker',
    methods: {
        test(e) {
            console.log(e)
        },
        test2() {
           let a = []
           a.map(function(_,i){return moment().month(i).format('MMM')})
        }
    },
    data() {
        return {
        }
    }
}
</script>

<style scoped>
</style>
