<template>
  <div class="container">
      <div class="button-area">
        <div v-for="(item, index) in linkItems" :key="item.link">
           <div class="select-area" v-if="item.isClicked" @click="onClick(item, index)">{{ item.name }}</div>
           <div class="non-select-area" v-else @click="onClick(item, index)">{{ item.name }}</div>
        </div>
      </div>
  </div>
</template>
<script>
import _ from 'lodash'

export default {
  name: 'Header',
  data() {
    return {
      linkItems: [],
    }
  },
  created() {
    this.init()
  },
  methods: {
    init() {
      const arr = [
        { link: 'Home', name: '홈', isClicked: false },
        { link: 'AccountList', name: '목록', isClicked: false },
        { link: 'AccountAdd', name: '등록', isClicked: false },
      ];
      this.linkItems = arr;
    },
    onClick(item, index) {
      this.linkItems[index].isClicked = true;

      _.forEach(this.linkItems, (v, i) => {
        if(i!==index) {
          v.isClicked = false;
        }
      })

      this.$forceUpdate()
      this.$router.push({ name: item.link })
    }
  }
}
</script>

<style scoped>
  .container {
    display: flex;
    height: 71px;
    background: #e2e2e2;
  }
  .button-area {
    display: flex;
    margin-left: 30px;
    align-self: flex-end;
  }
  .select-area {
    width: 120px;
    height: 63px;
    align-self: flex-end;
    padding: 22px 30px 21px 31px;
    border-radius: 20px 20px 0px 0px;
    background-color: #f4f4f6;
    text-align: center;

    font-family: SpoqaHanSansJP;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #000000;
  }
  .non-select-area {
    width: 120px;
    height: 63px;
    align-self: flex-end;
    padding: 22px 30px 21px 31px;
    border-radius: 20px 20px 0px 0px;
    border: solid 1px #cccccc;
    background-color: #e9e9e9;
    text-align: center;

    font-family: SpoqaHanSansJP;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #000000;
  }
</style>
