<template>
  <div class="app">
    <div class="header">
      <Header />
    </div>
    <div class="body">
      <router-view />
    </div>
  </div>
</template>

<script>
import Header from "@/components/Header.vue"

export default {
  name: 'App',
  components: {
    Header,
  }
}
</script>

<style scoped>
  .app {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .body {
    display: flex;
    background: #f4f4f6;
    height: 100%;
  }
</style>
