<template>
  <div class="container">
    <div class="card-container">
      <div class="card-area">
        <div class="years-button">
          <div class="left" @click="decreaseYear">&lt;</div>
          <span>{{ selectYear }}년</span>
          <div class="right" @click="increaseYear">&gt;</div>
          <!-- <ModalView v-if="isModalViewed" @close-modal="isModalViewed = false">
          </ModalView> -->
          <button @click="isModalViewed = true">TestOpenModal</button>
        </div>
        <div
          class="card"
          v-for="(item, index) in month"
          :key="item.seq"
          @click="selectCard(index)"
        >
          <div
            class="card-font-area"
            :class="{ activecard: index + 1 === selectMonth }"
          >
            <div class="card-font">{{ item.name }}</div>
          </div>
          <div class="sum-font-area">
            <div class="sum-font">합계 {{ item.sum }}</div>
          </div>
        </div>
      </div>
      <div class="right-menu">
        <div class="right-menu-sum-area">
          <div class="right-menu-sum-font">
            {{ selectYear }}년 {{ selectMonth }}월 가계부
          </div>
        </div>
        <div class="select-list-area">
          <div
            class="select-menu"
            :class="{ active: selectItem && selectItem.seq === item.seq }"
            v-for="item in accountListFilterToMonth"
            :key="item.seq"
            @click="selectList(item)"
          >
            {{ item.date }} {{ item.content }}
          </div>
        </div>
        <div class="income-font">
          수입: {{ selectItem ? selectItem.income : 0 }} 원
        </div>
        <div class="outcome-font">
          지출: {{ selectItem ? selectItem.expenditure : 0 }} 원
        </div>
        <div class="right-menu-buttons">
          <div
            class="left-button"
            @click="selectItem && linkTo('AccountUpdate', selectItem.seq)"
          >
            수정
          </div>
          <div
            class="right-button"
            @click="selectItem && deleteList(selectItem.seq)"
          >
            삭제
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import _ from "lodash";
import moment from "moment";
// import ModalView from "./components/ModalView"
export default {
  name: "accountList",
  computed: {
    accountlist() {
      return this.$store.state.accountList;
    },
    accountListFilterToYear() {
      return _.chain(this.accountlist)
        .sortBy("date")
        .filter((account) => {
          return moment(account.date).year() === this.selectYear;
        })
        .value();
    },
    accountListFilterToMonth() {
      return _.chain(this.accountlist)
        .sortBy("date")
        .filter((account) => {
          return (
            moment(account.date).year() === this.selectYear &&
            moment(account.date).subtract(-1, "months").month() ===
              this.selectMonth
          );
        })
        .value();
    },
    accountListByMonth() {
      const data = _.chain(this.accountlist)
        .sortBy("date")
        .filter((account) => {
          return moment(account.date).year() === this.selectYear;
        })
        .groupBy((account) => {
          return moment(account.date).format("M");
        }).value()
        .mapValues((accountList) => {
          return {
            sum: _.sumBy(accountList, (item) => Number(item.income)-Number(item.expenditure))
          };
        })
        .value();

      return _.range(12).map(index => {
        return {
          month: index+1,
          sum: _.get(data, (index+1) + ".sum"),
        };
      });
    },
  },
  components: {
    // ModalView,
  },
  data() {
    return {
      month: [],
      isModalViewed: false,
      selectMonth: this.$route.params
        ? moment(this.$route.params.date).month() + 1
        : moment().month() + 1,
      selectYear: this.$route.params
        ? moment(this.$route.params.date).year()
        : moment().year(),
      selectItem: null,
    };
  },
  created() {
    this.changeSum();
  },
  methods: {
    changeSum() {
      for (let i = 1; i <= 12; i++) {
        this.month.push({
          name: i + "월",
          sum: this.sum(i),
        });
      }
    },
    selectCard(index) {
      this.selectMonth = index + 1;
    },
    selectList(item) {
      this.selectItem = item;
    },
    sum(month) {
      const filterlist = _.chain(this.accountListFilterToYear)
        .sortBy("date")
        .filter((v) => {
          return (
            moment(v.date).subtract(-1, "months").month() === month &&
            this.selectYear
          );
        })
        .value();
      const arr = [];
      // 로직 바꿔야할듯
      _.forEach(filterlist, (item) => {
        arr.push(item.income - item.expenditure);
      });
      return _.reduce(
        arr,
        function (sum, n) {
          return sum + n;
        },
        0
      );
    },
    deleteList(seq) {
      if (seq) {
        this.$store.commit("deleteAccountList", seq);
        this.selectItem = null;
      }
    },
    linkTo(link, seq) {
      console.log("linkTo", link);
      if (seq) {
        this.$router.push({ name: link, params: { seq: seq } });
      }
    },
    increaseYear() {
      this.selectYear++;
      this.month = [];
      this.changeSum();
    },
    decreaseYear() {
      this.selectYear--;
      this.month = [];
      this.changeSum();
    },
  },
};
</script>

<style scoped leng="scss">
.container {
  display: flex;
  flex-direction: column;
}
.card-container {
  display: flex;
}
.card-area {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  flex-grow: 2;
  align-items: flex-start;
}
.card {
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
  flex-direction: column;
  width: 200px;
  height: 120px;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
}
.card-font-area {
  height: 105px;
  background-color: #ffe836;
}
.card-font {
  margin-left: 19px;
  margin-top: 19px;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}
.sum-font-area {
  background-color: #ffd736;
  height: 36px;
}
.sum-font {
  margin-top: 5px;
  margin-right: 10px;
  font-family: SpoqaHanSansJP;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: right;
  color: #000000;
}
.right-menu {
  flex-grow: 1;
  height: 100%;
  padding: 14px 20px 21px;
  background-color: #3d4253;
}
.right-menu-sum-font {
  margin: 2px 40px 15px 13px;
  font-family: SpoqaHanSansJP;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.select-menu {
  height: 60px;
  margin: 12px 9px 0.5px 11px;
  padding: 16px 13px 15px 20px;
  border-radius: 4px;
  background-color: #0099ff;
}
.select-list-area {
  overflow: auto;
  height: 400px;
}
.right-menu-sum-area {
  display: flex;
  justify-content: space-between;
}
.left-button {
  width: 130px;
  height: 80px;
  padding: 28px 47px;
  border-radius: 10px;
  border: solid 1px #3d4253;
  background-color: #e2e2e2;
}
.right-button {
  width: 130px;
  height: 80px;
  padding: 28px 47px;
  border-radius: 10px;
  border: solid 1px #3d4253;
  background-color: #e2e2e2;
}
.right-menu-buttons {
  display: flex;
}
.years-button {
  display: flex;
  width: 100%;
  margin-top: 10px;
  justify-content: center;
  align-self: center;
}
.income-font {
  margin-top: 15px;
  font-family: SpoqaHanSansJP;
  font-size: 14px;
  color: #ffffff;
}
.outcome-font {
  margin-bottom: 5px;
  font-family: SpoqaHanSansJP;
  font-size: 14px;
  color: #ffffff;
}
.active {
  background-color: #ffffff;
}
.activecard {
  background-color: #cdcdd6;
}
.left {
  margin-right: 10px;
}
.right {
  margin-left: 10px;
}
</style>
